// Colors
$primary-accent-color: #2E56A1;
$primary-font-color: #4A4A4A;
$medium-gray-color: #eeeeee;
$light-gray-color: #f6f6f6;
$footer-background-color: #383838;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$primary-font: 'Open Sans', sans-serif;
$bold-font: 700;
$semi-bold-font: 600;
$regular-font: 400;
$light-font: 300; 