/******************* Grid *******************/
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @media screen and (min-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    }
    @media screen and (min-width:768px) {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    @media screen and (min-width:991px) {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}